<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Montant</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="montant"
        placeholder="Montant"
        ng-model="montant"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="comptes" class="col-sm-2 control-label">Comptes</label>
    <div class="col-sm-10">
      <select
        name="comptes"
        ng-options="item as item.title for item in listCompte track by item.numero"
        ng-model="selectedCompte"
      ></select>
    </div>
  </div>
  <button ng-click="send()">send</button>
</form>
