<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<compte-benef></compte-benef>

<div class="row marketing">

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>


    <div>
      data:
      <div>
        compte {{dataEnvoyees.numero}} : {{dataEnvoyees.montant}}
      </div>
    </div>


    <button open-modal class="btn btn-lg btn-success" ng-click="openModal()">Open!<span class="glyphicon glyphicon-ok"></span></button>
    <button class="btn btn-lg btn-success">Valider<span class="glyphicon glyphicon-ok"></span></button>

    <div id="compteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">

            <div>voici mon super compte benef :</div>

            <compte-benef id="cool"></compte-benef>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="save" ng-click="requestSendData(cool)" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
